<<template>
    <footer class="footer">
        <section class="container">
            <p>
               Designed for fun in 2018 &#8226; {{ branch }}/{{ version }} &#8226; {{ env }}
            </p>
        </section>
    </footer>
</template>

<script>
    export default {
        name: 'app-footer',
        data: () => ({
            env: process.env.NODE_ENV,
            version: process.env.GIT_VERSION,
            hash: process.env.GIT_HASH,
            branch: process.env.GIT_BRANCH
        })
    }
</script>
