<<template>
    <header class="header">
        <section class="container">
            <svg version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                class="img" 
                x="0px" y="0px"
                viewBox="0 0 512 512" 
                style="enable-background:new 0 0 512 512;" 
                xml:space="preserve">
                <g>
                    <path d="M223.576,414.69H67.854c-4.142,0-7.5,3.357-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h155.722c4.142,0,7.5-3.358,7.5-7.5
                        C231.076,418.047,227.718,414.69,223.576,414.69z"/>
                </g>
                <g>
                    <path d="M125,376.69H88.343c-4.142,0-7.5,3.357-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5H125c4.142,0,7.5-3.358,7.5-7.5
                        C132.5,380.047,129.142,376.69,125,376.69z"/>
                </g>
                <g>
                    <path d="M244.066,376.69H161c-4.142,0-7.5,3.357-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h83.066c4.142,0,7.5-3.358,7.5-7.5
                        C251.566,380.047,248.208,376.69,244.066,376.69z"/>
                </g>
                <g>
                    <path d="M219.478,340.69H63.755c-4.142,0-7.5,3.357-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h155.723c4.142,0,7.5-3.358,7.5-7.5
                        C226.978,344.047,223.62,340.69,219.478,340.69z"/>
                </g>
                <g>
                    <path d="M469.066,407.6h-9.324c-5.678,0-10.297,4.616-10.297,10.291v18.608c0,5.675,4.619,10.291,10.297,10.291h9.324
                        c2.034,0,3.689,1.645,3.689,3.665s-1.655,3.665-3.689,3.665h-87.61v-6.108c0-6.893-5.607-12.5-12.5-12.5h-14.009
                        c0.498-1.484,0.859-3.028,1.054-4.62l11.462-93.965c1.384-11.345-5.602-24.106-15.903-29.053l-48.851-23.463l6.653-14.235
                        c1.754-3.753,0.133-8.217-3.619-9.971c-3.753-1.754-8.217-0.134-9.97,3.619l-15.499,33.166l-1.51-0.703
                        c0.674-1.534,1.055-3.227,1.055-5.008v-7.678c0-6.893-5.608-12.5-12.5-12.5h-19.747c0.134-0.522,0.248-1.054,0.315-1.603
                        l1.944-15.932c0.389-3.186-0.453-6.331-2.354-8.91l4.879-32.202l43.018-1.302c12.353-0.373,22.102-10.714,21.731-23.054
                        c-0.37-12.173-10.209-21.708-22.4-21.708c-0.229,0-0.457,0.003-0.687,0.011l-27.354,0.827c9.893-10.74,26.002-14.402,39.944-7.914
                        c8.349,3.885,14.679,10.78,17.822,19.418c3.136,8.617,2.725,17.939-1.158,26.246l-13.481,28.845
                        c-1.754,3.753-0.134,8.217,3.619,9.971c3.751,1.751,8.216,0.133,9.97-3.619l13.481-28.845c5.582-11.943,6.173-25.342,1.664-37.728
                        c-0.271-0.743-0.56-1.477-0.862-2.201c18.753-3.198,35.164-15.422,43.355-32.947c0.848-1.814,1.586-3.66,2.239-5.525
                        c2.469-2.285,4.026-5.542,4.026-9.163v-15.448c3.754-2.159,6.294-6.203,6.294-10.836V80.501c0-5.799-3.975-10.674-9.338-12.079
                        c-0.307-27.475-22.783-49.732-50.379-49.732h-8.392c-27.596,0-50.072,22.258-50.378,49.732c-5.364,1.405-9.339,6.28-9.339,12.079
                        v16.981c0,0.399,0.023,0.792,0.06,1.182c-1.996-1.831-4.583-2.98-7.326-3.192c-3.248-0.241-6.448,0.827-8.892,2.95
                        c-19.503,16.956-39.553,34.876-51.632,51.203c-15.407,20.829-17.089,38.66-5,52.997c3.772,4.476,8.501,7.613,13.951,9.331
                        l-4.67,28.27c-1.821,1.895-3.06,4.365-3.399,7.141l-1.944,15.935c-0.305,2.502,0.144,4.98,1.27,7.18
                        c-1.493,2.505-2.352,5.428-2.352,8.55v0.913H60.69v-12.156c0-6.893-5.607-12.5-12.5-12.5h-8.649c-6.893,0-12.5,5.607-12.5,12.5
                        v12.156H7.5c-4.142,0-7.5,3.358-7.5,7.5c0,4.143,3.358,7.5,7.5,7.5h19.541v12.155c0,6.893,5.607,12.5,12.5,12.5h8.649
                        c6.893,0,12.5-5.607,12.5-12.5V294.94h129.305c-0.426,3.474-0.043,7.025,1.191,10.418c2.059,5.658,6.187,10.167,11.623,12.696
                        l72.976,33.954c4.526,2.105,8.086,8.535,7.47,13.488l-8.739,70.286c-0.032,0.254-0.051,0.507-0.073,0.76
                        c-4.431,1.924-7.541,6.338-7.541,11.469v6.108H151.099c-5.678,0-10.298,4.616-10.298,10.291v18.608
                        c0,5.675,4.62,10.291,10.298,10.291H390c4.142,0,7.5-3.357,7.5-7.5c0-4.142-3.358-7.5-7.5-7.5H155.801v-9.19h313.266
                        c10.306,0,18.689-8.373,18.689-18.665c0-10.292-8.384-18.665-18.689-18.665h-4.622v-9.19h4.622
                        c15.403,0,27.934,12.496,27.934,27.855s-12.531,27.855-27.934,27.855H424c-4.142,0-7.5,3.358-7.5,7.5c0,4.143,3.358,7.5,7.5,7.5
                        h45.066c23.674,0,42.934-19.225,42.934-42.855S492.74,407.6,469.066,407.6z M45.69,304.596h-3.649v-34.311h3.649V304.596z
                        M248.115,288.332v-2.23h16.704v2.677h-0.001h-16.726C248.096,288.629,248.115,288.483,248.115,288.332z M294.472,181.396
                        l0.234-0.003c4.032,0,7.285,3.146,7.407,7.161c0.123,4.071-3.103,7.484-7.191,7.608l-49.27,1.49
                        c-3.621,0.109-6.646,2.791-7.189,6.372l-5.292,34.923l-15.21-1.848l6.357-38.479c1.429-8.654,9.138-15.38,17.932-15.646
                        L294.472,181.396z M212.09,262.628l1.339-10.97l21.209,2.577l-1.339,10.97L212.09,262.628z M233.114,280.294v8.039
                        c0,0.994-0.818,1.804-1.824,1.804h-18.649c-1.006,0-1.825-0.81-1.825-1.804v-9.305c0-0.548,0.254-1.034,0.646-1.365
                        L233.114,280.294z M299.319,138.24l-8.135-9.648h8.135V138.24z M328.643,157.225c-4.019-4.41-8.853-8.073-14.324-10.824v-17.81
                        h15.411c2.597,4.532,7.785,7.676,13,7.676h22.468C357.492,148.923,343.653,156.956,328.643,157.225z M372.283,121.266H342.98
                        c-0.08-0.041-0.175-0.105-0.243-0.164l-4.457-11.12h34.003V121.266z M325.468,33.69h8.392c19.184,0,34.84,15.304,35.368,34.312
                        H290.1C290.628,48.993,306.285,33.69,325.468,33.69z M280.75,83.001h97.827v11.981H280.75V83.001z M280.75,109.983h41.369
                        l1.446,3.608H280.75V109.983z M209.407,196.841c-1.889-0.909-3.549-2.192-4.979-3.888c-4.542-5.386-8.903-14.813,5.592-34.408
                        c10.749-14.529,29.071-31.074,47.245-46.915l25.59,30.354c-14.481,2.753-27.541,11.891-34.743,25.807l-6.317,0.191
                        c-15.826,0.478-29.702,12.599-32.278,28.193L209.407,196.841z M282.113,338.409l-71.948-33.477c0.81,0.12,1.632,0.203,2.476,0.203
                        h18.649c2.347,0,4.582-0.485,6.613-1.356h21.404l57.789,26.887c4.526,2.107,8.086,8.535,7.47,13.488l-11.359,91.357h-23.542
                        l8.476-68.163C299.557,355.962,292.517,343.25,282.113,338.409z M338.482,454.12h-56.58v-3.608h0h56.58V454.12z M352.573,335.111
                        l-11.462,93.965c-0.309,2.535-1.884,4.888-4.009,6.436h-8.778l11.129-89.506c1.416-11.387-5.624-24.099-16.028-28.939
                        l-29.55-13.749l2.484-5.316l48.707,23.394C349.605,323.576,353.183,330.113,352.573,335.111z M366.456,454.12h-12.974v-3.608
                        h12.974V454.12z"/>
                </g>
            </svg>
            <h1 class="title">{{ pageTitle }}</h1>
        </section>
    </header>
</template>

<script>
    export default {
        name: 'app-header',
        data: () => ({
            pageTitle: 'La Boite à Bronzés'
        })
    }
</script>

<style>
    .header {
        background-color: #f4f5f6;
    }
    .header+section {
        border-top: 0
    }
    .header .container {
        border-top: 0;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
        position: relative;
        text-align: center
    }
    .header .img {
        height: 15rem;
        margin-bottom: 2rem
    }
    .header .img path {
        animation: 4s a forwards;
        fill: #9b4dca;
        stroke: #9b4dca;
        stroke-dasharray: 38321;
        stroke-miterlimit: 2;
        stroke-width: 2px
    }
    @keyframes a {
        0% {
            fill-opacity: 0;
            stroke-dashoffset: 38321
        }
        25% {
            fill-opacity: 0;
            stroke: #9b4dca
        }
        to {
            fill-opacity: 1;
            stroke-dashoffset: 0
        }
    }
</style>