<template>
    <div class="container">
        <span v-for="(audio, index) in AudioFiles" v-bind:key="index">
            <a class="button" 
                @click="clickPlay" 
                :data-audio-target="index">{{ audio.title }}</a>
            <audio :ref="index" :id="index" :src="audio.path"></audio>
        </span>
    </div>
</template>

<script>
    import AudioFiles from '../assets/data/audio.json'
    export default {
        name: 'Home',
        data: () => ({
            AudioFiles
        }),
        methods: {
            clickPlay: function (event) {
                const index = event.target.dataset.audioTarget
                const filePath = this.AudioFiles[index].path
                if (filePath) {
                    this.$ga.event('music', 'play', 'button', filePath)
                    this.play(require(`../assets/${filePath}`))
                }
            },
            play: function (file) {
                var audio = new Audio(file)
                audio.play()
            }
        },
        created: function () {
            const self = this
            window.addEventListener('keyup', function (event) {
                const keypressed = event.keyCode
                const items = self.$data.AudioFiles

                // if (debug) {
                //     var keyFromCode = String.fromCharCode(keypressed)
                //     if (keyFromCode) {
                //         console.log(`key: ${keypressed}, matching: ${keyFromCode}`)
                //     }
                // }

                const result = items.filter(function (item) {
                    return item.keypad === keypressed
                })

                if (result.length > 0) {
                    const filePath = result[0].path
                    if (filePath) {
                        self.$ga.event('music', 'play', 'keyboard', filePath)
                        self.play(require(`../assets/${filePath}`))
                    }
                }
            })
        }
    }
</script>

<style scoped>
    .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
        font-size: 1.6rem;
        height: 5.8rem;
        line-height: 5.8rem;
        text-transform: none;
    }
</style>
