<template>
    <div id="app">
        <main class="wrapper">
            <AppHeader/>
            <Home/>
            <AppFooter/>
        </main>
        <cookie-law theme="base"></cookie-law>
    </div>
</template>

<script>
    import AppHeader from './components/AppHeader'
    import AppFooter from './components/AppFooter'
    import Home from './components/Home'
    import CookieLaw from 'vue-cookie-law'

    export default {
        name: 'app',
        components: {
            AppHeader,
            AppFooter,
            Home,
            CookieLaw
        }
    }
</script>

<style>
    .wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%
    }
    .wrapper .container {
        max-width: 80rem;
        text-align: center
    }
    .wrapper > .container {
        padding-bottom: 7.5rem;
        padding-top: 7.5rem
    }
</style>
